.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  z-index:0;
  //margin-top: -65px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    z-index: 1; 

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-width: 600px;
      padding-left: 200px;  /* Increased padding-left value */
      margin-top: -100px;

      h2 {
        font-size: 1.5rem; 
        color: #9b72cf;
        font-weight: bold;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 6rem; 
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        font-family: 'Arial', sans-serif; 
      }

      .buttons {
        display: flex;
        gap: 1rem;
        margin-top: 30px;
        font: bold;
        padding:5rem, 5rem;
        
        button {
          padding: 10px 20px;
          //Addyourdesiredpaddingheremargin-right: 10px;
          background-color: transparent;
          font-weight: bold;
          color: #9b72cf;
          border: 2px solid #9b72cf;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 2px;
          &:hover           
          
{
            background-color: darken(#9b72cf, 10%);
            color:white;
          }
        }
       
          
        
      }

      img {
        margin-top: 50px;
        width: 50px; 
        height: 50px; 
        margin-bottom: 30px;

      }
    }

    .imageContainer {
      margin-top: -65px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; 
      padding-left: 1.5rem;
      position: relative; 
      
      
      
      img {
        width: 90%; 
        width: 500px; 
        height: 600px;
        margin-right: 35px; 
        position: relative; 
        top: -20px; 
        left: 20px; 

        
      }
      
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    z-index: 0;
    -webkit-animation: slide-left 8s linear infinite;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}



