#about {
    margin-top: 100px;
    text-align: center;
  
    h2 {
      font-size: 6rem; // Double the original size for a big and bold look
      font-weight: bold;
      color: #4a90e2; // Adjust this color as needed
      text-decoration: underline;
      margin-bottom: 20px; // Adjust this margin for the spacing between <h2> and <p>
    }
  
    p {
      margin-top: 1rem; // Adjust as needed for spacing between paragraphs
      color: #9CA3AF; // Adjusted to match text-gray-400
      font-size: 1.125rem; // Adjusted to match text-lg
      text-align: justify;
      overflow: hidden;
      margin-left: 2rem; // Adjust as needed for appropriate left margin
      margin-right: 2rem; // Adjust as needed for appropriate right margin
  
      @media (min-width: 640px) {
        font-size: 1.25rem; // Adjusted to match sm:text-xl
        margin-left: 3rem; // Adjust as needed for larger screens
        margin-right: 3rem; // Adjust as needed for larger screens
      }
    }
  }
  