section{
   
    scroll-snap-align: center;
}
.ish{
   height: 150vh;
}
.pre{
    height: 100vh;
}
.post{
    height:100vh;
}
.wow{
    height:100vh;
}
.balle{
    height:100vh;
}
.shawa{
    height:100vh;
}
.gar{
    height:20vh;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    background-color: #0c0c1d;
    color: lightgray;
}
a{
    text-decoration: none;
    color:inherit;
}
